
* {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

body {
    background-color: beige;
    overflow-x: hidden;
}

/* header */

header {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
}

li {
     display: inline-block;
}

li a {
    font-size: 1.3rem;
    padding: 0px 15px;
    color: white;
    border-right: solid 1px white;
    text-decoration: none;
}

/* Content */

#main {
    margin-top: 70px;
    margin-bottom: 20px;
}

#main h1 {
    font-size: 2rem;
    text-align: center;
    
}

.lightnovel {
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.lncontent {
    background-color: lightgray;
    border: solid 1px black;
    margin-top: 2%;
    padding: 1%;
    border-radius: 15px;
    width: auto;
}

.lnimage {
    float: inline-start;
    margin-right: 1%;
}

.lightnovel p {
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lightnovel button {
    background-color: rgb(194, 118, 18);
    padding: 0 20% ;
}

.details {
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
}

.lightnovel h2 {
    font-size: 1rem;
    margin-right: 100px;
}
/* footer */

footer {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

footer p {
    font-size: 0.8rem;
}