
* {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body {
    background-color: beige;
    overflow-x: hidden;
}

/* header */

header {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

li {
    font-size: 1.3rem;
    display: inline-block;
    padding: 0px 15px;
    color: white;
    border-right: solid 1px white;
}

#banner {
    position: relative;
    top: 50px;
    display: flex;
    text-align: center;
}

