
* {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}

body {
    background-color: beige;
    overflow-x: hidden;
}

/* header */

header {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
}

li {
    font-size: 1.3rem;
    display: inline-block;
    padding: 0px 15px;
    color: white;
    border-right: solid 1px white;
}

#banner {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    border-top: solid 1px black;
    margin-top: 70px;
    padding-top: 20px;
    border-bottom: solid 1px black;
    padding-bottom: 20px;
    background-color: lightgrey;
}

.banner-content {
    display: flex;
    flex-direction: column;   
}

#banner img {
    height: auto;
    width: 100%;
}

h1 {
    font-size: 3rem;
    top: 50px;
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    text-decoration: underline;
}

#main-content {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

#main-content p {
    margin-top: 10px;
    font-size: 1.3rem;
}

.characteristics p {
    padding-top: 10px;
}

.characteristics {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}

 span {
    font-size: 1.3rem;
    text-decoration: underline;
}

.characteristics img {
    width: 15%;
    height: auto;
    float: inline-start;
    margin-right: 20px;
    margin-top: 10px;
}

.key {
    margin-bottom: 10px;
    margin-top: 10px;
}

#bottom-main {
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

#bottom-main p {
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    font-style: italic;
}

